@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.screen-width {
    @apply max-w-6xl;
}

html {
    font-family: 'Rubik', 'sans-serif';
    @apply tracking-wide
}

.libre {
    font-family: 'Libre Baskerville', 'serif';
}


.menu-item {
    @apply border-b-2 border-transparent hover:text-blue-400;
}

.menu-item-sm {
    @apply text-gray-700 hover:text-blue-400 pb-2;
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
}

.menu-dropdown {
    position: relative;
    display: inline-block;
    &:hover {
        .menu-dropdown-content {
            display: grid;
        }
    }
}


.blog-post {
    @apply break-words;
    p, li {
        @apply mb-5
    }

    h2, h1 {
        @apply text-xl font-bold text-sharpfin-gray mb-5 text-left;
    }
    h4, h3 {
       @apply text-lg font-bold text-sharpfin-gray;
    }

    li {
        margin-bottom: 10px;
    }

    blockquote {
        @apply text-white bg-sharpfin-blue rounded text-xl  text-center my-10 p-10  border-sharpfin-gray;
    }

    a {
        @apply text-sharpfin-blue overflow-auto;
    }
}
